/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, serif;
    color: #252525;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}
/*

1 - Navbar


*/

/* 1 - Navbar header */
nav {
    background-color: #2c9cb4;
    padding-bottom: 100px;
}

nav img{
    width: 100px;
    height: 100px;
    float: left;
}

nav ul li{
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.125em;
}

nav ul{
    float:right;
    margin-right: 10px;
    padding: 25px 0;
}
nav h1{
    text-transform: uppercase;
}